@media (max-width: 1000px) {
  .heading-secondary {
    font-size: 28px;
  }
  /* HEADER-Fajar */

  nav ul {
    margin-top: 23px;
  }

  nav ul li a {
    font-size: 16px;
    text-transform: uppercase;
    padding: 2px 4px;
  }

  /* Top wrapper */

  .text-box {
    text-align: center;
    margin-left: 0;
  }

  .text-box h1 {
    font-size: 36px;
  }

  .text-box a {
    margin-top: 125px;
  }

  .text-box p {
    font-size: 20px;
  }

  .image-box img {
    width: 100%;
    height: 100%;
  }

  .grid-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 768px) {
  nav ul li a:link,
  nav ul li a:visited {
    font-size: 14px;
  }
  .logo {
    width: 100px;
    height: 30px;
  }

  .text-box h1 {
    font-size: 28px;
    line-height: 30px;
    text-align: start;
  }

  .text-box p {
    font-size: 16px;
    line-height: 25px;
    text-align: start;
  }

  .text-box a:link,
  .text-box a:visited {
    font-size: 16px;
    text-align: center;
    margin-top: 65px;
  }

  .image-top img {
    width: 100%;
    height: 50%;
  }
  .grid-about {
    grid-template-columns: 1fr;
  }

  .right .subheading,
  .right .heading-secondary,
  .right p {
    text-align: center;
  }
  .btn {
    display: block;
    margin: auto;
    width: fit-content;
  }
}

@media (max-width: 670px) {
  /* HEADER-Fajar */
  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(239, 232, 230, 0.8);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 18px;
  }

  nav a:hover,
  nav a.active {
    background: none;
    color: #5a1a01;
  }

  #check:checked ~ ul {
    left: 0;
  }

  /* Top wrapper */
  .text-box h1 {
    font-size: 24px;
  }

  .text-box h1 {
    font-size: 18px;
  }

  /* testimonials */
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  /* Footer-Fajar */

  footer {
    text-align: center;
  }
}
