* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: rubik;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;

/* HEADER-Fajar */
nav {
    height: 96px;
    width: 100%;
    background: #EFE8E6;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    float: left;
}

.logo {
    width: 150px;
    height: 50px;
    margin-top: 23px;
}

nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 23px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    padding-left: 10px;
}

nav ul li a {
    color: #333333;
    font-size: 17px;
    padding: 8px 15px;
    border-radius: 3px;
}

nav a.active,
nav a:hover {
    background: #5A1A01;
    color: white;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #5A1A01;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
    margin-top: 12px;
}

#check {
    display: none;
}

/* TOP WRAPPER */

/* ABOUT */
  * {
    font-family: Rubik;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
  }
  section {
    height: 100vh;
    display: flex;
    align-items: center;
    background: #e5e5e5;
  }
  .container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
    align-content: center;
  }
  .left img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 25px;
  }
  .right h4 {
    color: #e5e5e5;
    font-weight: 420;
    color: #7b4834;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .right h2 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .right p {
    text-align: justify;
    margin-bottom: 15px;
  }
  .btn {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: 5px 7px;
    border: solid 2px #7b4834;
    border-radius: 6px;
    position: relative;
    z-index: 1;
  }
  .btn::after {
    content: "";
    background: #7b4834;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: width 0.5s ease;
  }
  .btn:hover::after {
    width: 100%;
  }
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
    .right h4,
    h2 {
      margin: auto;
      width: fit-content;
      margin-bottom: 10px;
    }
    .right p {
      text-align: center;
    }
    .btn {
      display: block;
      margin: auto;
      width: fit-content;
    }
  }

/* MENU */

/* TESTIMONIALS */

/* FOOTER-Fajar */
footer {
    height: 450px;
    width: 100%;
    background-color: #EFE8E6;
    position: fixed;
    padding-top: 100px;
    padding-bottom: 20px;
}

footer img {
    width: 150px;
    height: 50px;
    margin-top: 100px;
}

footer p {
    color: #767676;
    font-size: 12px;
}

footer ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 24px;
}

footer a {
    color: #767676;
}

footer a:hover {
    color: #4d4949;
    transition: .5s;
}
